bio_embeddings==0.2.2
en_core_web_md==3.5.0
gensim==3.8.3
glob2==0.7
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.4
PyTDC==0.4.0
pytorch_lightning==1.8.6
scikit_learn==0.24.2
spacy==3.5.3
torch==2.0.1
torchmetrics==0.11.4
